<div class="container">
    <article *ngIf="queuedPomodoros > 0">
        <h3>
            {{ queuedPomodoros }} Pomodoros for today
            <span class="small">(Estimated time: {{ queuedPomodoros*25 | formattedTime }})</span>
        </h3>
        <p>
            <span *ngFor="#queuedTask of tasks | queued: true ">
                <pomodoro-icon [multiply]="queuedTask.pomodorosRequired" (mouseover)="tooltip.innerText = queuedTask.name" (mouseout)="tooltip.innerText = 'Mouseover for details'"></pomodoro-icon>
            </span>
        </p>
        <p #tooltip>Mouseover for details</p>
    </article>
    <h3>Tasks backlog</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Task name</th>
                <th>Deliver by</th>
                <th>Pomodoros</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#task of tasks; #i = index">
                <th scope="row">{{i}} <span *ngIf="task.queued" class="label label-info">Queued</span></th>
                <td>{{task.name | slice: 0:35 }}<span [hidden]="task.name.length < 35">...</span></td>
                <td>{{task.deadline | date: 'fullDate' }}
                    <span *ngIf="task.deadline < today" class="label label-danger">Due</span>
                </td>
                <td class="text-center">{{task.pomodorosRequired}}</td>
                <td>
                    <button type="button" name="button" class="btn btn-default btn-xs" [ngSwitch]="task.queued" (click)="toggleTask(task)">
                        <template [ngSwitchWhen]="false">
                        <i class="glyphicon glyphicon-plus-sign"></i> Add
                        </template>
                        <template [ngSwitchWhen]="true">
                        <i class="glyphicon glyphicon-minus-sign"></i> Remove
                        </template>
                        <template ngSwitchDefault>
                        <i class="glyphicon glyphicon-plus-sign"></i> Add
                        </template>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
