<form [ngFormModel]="loginForm" class="container" (ngSubmit)="authenticate()">
  <h3>This content is password-protected</h3>
  <p>Please enter your credentials below</p>

  <div class="alert alert-danger" *ngIf="notValidCredentials">
    Your credentials are not valid!
  </div>

  <div class="form-group">
    <input type="text"
      class="form-control"
      placeholder="Your username"
      ngControl="username">
    <p *ngIf="showUsernameHint"class="help-block">
      That does not look like a proper username
    </p>
  </div>

  <div class="form-group">
    <input type="password"
      class="form-control"
      placeholder="Your password"
      ngControl="password">
  </div>

  <p>
    <input type="submit"
      class="btn btn-success"
      value="Authenticate"
      [disabled]="!loginForm.valid">
  </p>
</form>
