<form class="container" (submit)="saveTask()">
    <h3>Task Editor:</h3>
    <div class="form-group">
        <p class="text-muted" *ngIf="name.untouched">
            Start here by entering the task name.
        </p>
        <p class="text-success" *ngIf="name.valid && name.touched">
            Well done! That's a good name for a task!
        </p>
        <p class="text-danger" *ngIf="!name.valid && name.touched">
            Oops! You cannot leave the name blank...
        </p>
        <input type="text"
            class="form-control"
            placeholder="Task name"
            [(ngModel)]="taskModel.name"
            #name="ngForm"
            required>
    </div>

    <div class="form-group">
        <input type="Date"
            class="form-control"
            [(ngModel)]="taskModel.deadline"
            required>
    </div>

    <div class="form-group">
        <input type="number"
            class="form-control"
            placeholder="Pomodoros required"
            min="1"
            max="4"
            [(ngModel)]="taskModel.pomodorosRequired"
            required>
    </div>

    <p>
        <input type="submit" class="btn btn-success" value="Save">
        <a [routerLink]="['TaskList']" class="btn btn-danger">Cancel</a>
    </p>
</form>
